version: '3'
services:
  registry:
    image: registry:2
    restart: always
    ports:
    - "5000:5000"
    environment:
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /data
      REGISTRY_HTTP_TLS_CERTIFICATE: /certs/registry.ybd.local.crt
      REGISTRY_HTTP_TLS_KEY: /certs/registry.ybd.local.key
    volumes:
      - ./data:/data
      - ./certs:/certs